@charset "UTF-8";
@import url(reset.css);
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * NORMALIZE-CSS..........Import normalize css
 */
/*------------------------------------*\
    $SCSS-SET
\*------------------------------------*/
/* line 60, ../scss/_predefine.scss */
.nav a, .logo, .follow-us, .ui-design-main h2 .sub-title, .ui-design-main .the-figure, .back-end-main h2 .sub-title, .back-end-main .the-figure, .front-end-main h2 .sub-title, .front-end-main .the-figure, .mobility-main h2 .sub-title, .mobility-main .the-figure, .form-download, .figure a {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  text-decoration: none;
}

/* line 338, icons/*.png */
.icons-sprite, .to-header a, .to-header a:hover, .to-header a.action, .to-ui-design a, .to-ui-design a:hover, .to-ui-design a.action, .to-back-end a, .to-back-end a:hover, .to-back-end a.action, .to-front-end a, .to-front-end a:hover, .to-front-end a.action, .to-mobility a, .to-mobility a:hover, .to-mobility a.action, .to-contact a, .to-contact a:hover, .to-contact a.action, .logo, .follow-us, .ui-design-main h2, .ui-design-main h2 .sub-title, .ui-design-main .the-figure, .back-end-main h2, .back-end-main h2 .sub-title, .back-end-main .the-figure, .front-end-main h2, .front-end-main h2 .sub-title, .front-end-main .the-figure, .mobility-main h2, .mobility-main h2 .sub-title, .mobility-main .the-figure, .form-download, .form-download:hover, .form-download:active, .ui-design-figure a, .ui-design-figure a:hover, .back-end-figure a, .back-end-figure a:hover, .front-end-figure a, .front-end-figure a:hover, .mobility-figure a, .mobility-figure a:hover {
  background: url('../images/icons-sbd2ab76ba1.png') no-repeat;
}

/*------------------------------------*\
    $NORMALIZE-CSS
\*------------------------------------*/
/*------------------------------------*\
    $COMMAN
\*------------------------------------*/
/**
* font-size
*/
/* line 50, ../scss/index.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 55, ../scss/index.scss */
html {
  position: relative;
  font-size: 62.5%;
}

/* line 60, ../scss/index.scss */
body {
  font-size: 1rem;
  overflow: hidden;
}

/* line 65, ../scss/index.scss */
.no-js body {
  overflow: auto;
}

/* line 69, ../scss/index.scss */
a {
  text-decoration: underline;
}

/* line 73, ../scss/index.scss */
.slide-block {
  width: 100%;
  height: 100%;
}

/* line 78, ../scss/index.scss */
.header, .ui-design, .back-end, .front-end, .mobility, .contact {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 1026px) {
  /* line 78, ../scss/index.scss */
  .header, .ui-design, .back-end, .front-end, .mobility, .contact {
    height: auto;
  }
}

/* line 89, ../scss/index.scss */
.header-main, .ui-design-main, .back-end-main, .front-end-main, .mobility-main, .contact-main {
  width: 1026px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* line 166, ../scss/index.scss */
.ui-design-intro, .back-end-intro, .front-end-intro, .mobility-intro, .vtmer-intro {
  width: 556px;
  position: absolute;
  font-size: 14px;
  color: #e6e6e6;
}

/* line 184, ../scss/index.scss */
.intro-summary {
  margin-top: 1.8em;
}
@media screen and (max-width: 1026px) {
  /* line 184, ../scss/index.scss */
  .intro-summary {
    position: static;
  }
}

/**
* 1. 宽度减去padding和border的双边距离之和
* 2. 向左推进padding和border的单边距离之和
*/
/* line 196, ../scss/index.scss */
.ui-design-requirement, .back-end-requirement, .front-end-requirement, .mobility-requirement {
  width: 524px;
  /* 1 */
  position: absolute;
  left: 378px;
  /* 2 */
  bottom: 90px;
  border-style: dashed;
  border-width: 3px;
  padding: 8px 13px;
  font-size: 13px;
}
/* line 206, ../scss/index.scss */
.ui-design-requirement ul, .back-end-requirement ul, .front-end-requirement ul, .mobility-requirement ul {
  padding-left: 5em;
  position: relative;
}
/* line 211, ../scss/index.scss */
.ui-design-requirement ul > li:first-child, .back-end-requirement ul > li:first-child, .front-end-requirement ul > li:first-child, .mobility-requirement ul > li:first-child {
  position: absolute;
  left: 0;
  top: 0;
}

/*------------------------------------*\
    $NAV
\*------------------------------------*/
/**
* 1. 高度为 六个按钮的高度之和 加上 margin的五个叠加间隔
*/
/* line 260, ../scss/index.scss */
.nav {
  height: 194px;
  /* 1 */
  position: fixed;
  top: 0;
  bottom: 0;
  right: 40px;
  z-index: 1000;
  margin: auto 0;
}
/* line 273, ../scss/index.scss */
.nav li {
  margin-top: 10px;
}
/* line 277, ../scss/index.scss */
.nav li:first-child {
  margin-top: 0;
}
/* line 281, ../scss/index.scss */
.nav a {
  width: 25px;
  height: 24px;
}
@media screen and (max-width: 1026px) {
  /* line 260, ../scss/index.scss */
  .nav {
    display: none;
  }
}

/* line 292, ../scss/index.scss */
.to-header a {
  background-position: -306px -578px;
}
/* line 295, ../scss/index.scss */
.to-header a:hover, .to-header a.action {
  background-position: 0 -183px;
}

/* line 300, ../scss/index.scss */
.to-ui-design a {
  background-position: -255px -686px;
}
/* line 303, ../scss/index.scss */
.to-ui-design a:hover, .to-ui-design a.action {
  background-position: -205px -686px;
}

/* line 308, ../scss/index.scss */
.to-back-end a {
  background-position: -331px -578px;
}
/* line 311, ../scss/index.scss */
.to-back-end a:hover, .to-back-end a.action {
  background-position: -230px -686px;
}

/* line 316, ../scss/index.scss */
.to-front-end a {
  background-position: -25px -183px;
}
/* line 319, ../scss/index.scss */
.to-front-end a:hover, .to-front-end a.action {
  background-position: -206px -578px;
}

/* line 324, ../scss/index.scss */
.to-mobility a {
  background-position: -280px -686px;
}
/* line 327, ../scss/index.scss */
.to-mobility a:hover, .to-mobility a.action {
  background-position: -281px -578px;
}

/* line 332, ../scss/index.scss */
.to-contact a {
  background-position: -231px -578px;
}
/* line 335, ../scss/index.scss */
.to-contact a:hover, .to-contact a.action {
  background-position: -256px -578px;
}

/*------------------------------------*\
    $HEADER
\*------------------------------------*/
/* line 347, ../scss/index.scss */
.header {
  background-color: #f2b701;
}
@media screen and (max-width: 1026px) {
  /* line 347, ../scss/index.scss */
  .header {
    height: 100%;
    min-height: 600px;
  }
}
@media screen and (max-width: 670px) {
  /* line 347, ../scss/index.scss */
  .header {
    height: auto;
    min-height: 0;
  }
}

/* line 362, ../scss/index.scss */
.logo {
  background-position: -204px -794px;
  height: 60px;
  width: 120px;
  position: absolute;
  left: 40px;
  top: 40px;
}
@media screen and (max-width: 1026px) {
  /* line 362, ../scss/index.scss */
  .logo {
    display: none;
  }
}

/* line 374, ../scss/index.scss */
.follow-us {
  background-position: -305px -686px;
  height: 28px;
  width: 28px;
  position: absolute;
  left: 40px;
  bottom: 40px;
}
@media screen and (max-width: 1026px) {
  /* line 374, ../scss/index.scss */
  .follow-us {
    display: none;
  }
}

/* line 386, ../scss/index.scss */
.header-main {
  height: 200px;
  text-align: center;
  color: #222;
}
@media screen and (max-width: 1026px) {
  /* line 386, ../scss/index.scss */
  .header-main {
    width: 90%;
    height: auto;
    line-height: 5rem;
    position: static;
    background-image: none;
  }
}
@media screen and (max-width: 1026px) {
  /* line 386, ../scss/index.scss */
  .header-main {
    height: 270px;
    position: absolute;
  }
}
@media screen and (max-width: 670px) {
  /* line 386, ../scss/index.scss */
  .header-main {
    position: static;
    height: auto;
    margin: 2rem auto;
  }
}

/* line 404, ../scss/index.scss */
.header-main h1 {
  line-height: 1.5em;
  font-family: 'impact';
  font-size: 100px;
  text-transform: uppercase;
}
@media screen and (max-width: 1026px) {
  /* line 404, ../scss/index.scss */
  .header-main h1 {
    font-size: 10.6rem;
  }
}
@media screen and (max-width: 670px) {
  /* line 404, ../scss/index.scss */
  .header-main h1 {
    line-height: 1.2em;
  }
}

/* line 419, ../scss/index.scss */
.header-main h2 {
  font-family: 'Microsoft YaHei';
  font-size: 38px;
  font-weight: bold;
}
@media screen and (max-width: 1026px) {
  /* line 419, ../scss/index.scss */
  .header-main h2 {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 670px) {
  /* line 419, ../scss/index.scss */
  .header-main h2 {
    line-height: 1.2em;
  }
}

/*------------------------------------*\
    $UI-DESIGN
\*------------------------------------*/
/* line 440, ../scss/index.scss */
.ui-design {
  line-height: 2em;
  background-color: #e57d04;
}

/* line 446, ../scss/index.scss */
.ui-design-main {
  height: 627px;
  background: right 10px url("../images/ui-design.png") no-repeat;
}
/* line 115, ../scss/index.scss */
.ui-design-main h2 {
  background-position: -9999px -1600px;
  position: absolute;
  left: 390px;
  top: 114px;
  font-size: 40px;
  color: #fff;
}
/* line 124, ../scss/index.scss */
.ui-design-main h2 .sub-title {
  background-position: 0 -794px;
  height: 108px;
  width: 204px;
  position: absolute;
  left: 100%;
  bottom: -12px;
  margin-left: 6px;
}
/* line 134, ../scss/index.scss */
.ui-design-main .the-figure {
  position: absolute;
  right: 690px;
  top: 0;
}
@media screen and (max-width: 1026px) {
  /* line 446, ../scss/index.scss */
  .ui-design-main {
    width: 90%;
    height: auto;
    line-height: 5rem;
    position: static;
    margin-bottom: 30px;
    background-image: none;
  }
  /* line 149, ../scss/index.scss */
  .ui-design-main h2 {
    background-position: 0 -1600px;
    height: 180px;
    width: 343px;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    text-decoration: none;
    position: static;
    margin: 290px auto 60px;
  }
  /* line 156, ../scss/index.scss */
  .ui-design-main .the-figure {
    top: 56px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}
/* line 449, ../scss/index.scss */
.ui-design-main .the-figure {
  background-position: 0 -2625px;
  height: 596px;
  width: 359px;
}
@media screen and (max-width: 1026px) {
  /* line 454, ../scss/index.scss */
  .ui-design-main .the-figure {
    background-position: -144px 0;
    height: 170px;
    width: 103px;
  }
}

/* line 460, ../scss/index.scss */
.ui-design-intro {
  left: 394px;
  top: 180px;
}
@media screen and (max-width: 1026px) {
  /* line 460, ../scss/index.scss */
  .ui-design-intro {
    width: 100%;
    position: static;
    font-size: 3rem;
  }
}

/* line 464, ../scss/index.scss */
.ui-design-requirement {
  border-color: #d24c0a;
  color: #fec99b;
}
@media screen and (max-width: 1026px) {
  /* line 464, ../scss/index.scss */
  .ui-design-requirement {
    width: auto;
    position: static;
    margin: 60px 0;
    font-size: 2.6rem;
  }
  /* line 228, ../scss/index.scss */
  .ui-design-requirement h4 {
    font-size: 3rem;
    font-weight: bold;
  }
}
@media screen and (max-width: 670px) {
  /* line 235, ../scss/index.scss */
  .ui-design-requirement ul {
    padding-left: 0;
  }
  /* line 239, ../scss/index.scss */
  .ui-design-requirement ol {
    list-style-position: inside;
  }
  /* line 243, ../scss/index.scss */
  .ui-design-requirement ul > li:first-child {
    position: static;
  }
}

/*------------------------------------*\
    $BACK-END
\*------------------------------------*/
/* line 475, ../scss/index.scss */
.back-end {
  line-height: 2em;
  background-color: #7c378a;
}

/* line 481, ../scss/index.scss */
.back-end-main {
  height: 627px;
  background: right 10px url("../images/group-bg.png") no-repeat;
}
/* line 115, ../scss/index.scss */
.back-end-main h2 {
  background-position: -9999px -1421px;
  position: absolute;
  left: 390px;
  top: 114px;
  font-size: 40px;
  color: #fff;
}
/* line 124, ../scss/index.scss */
.back-end-main h2 .sub-title {
  background-position: 0 -686px;
  height: 108px;
  width: 205px;
  position: absolute;
  left: 100%;
  bottom: -12px;
  margin-left: 6px;
}
/* line 134, ../scss/index.scss */
.back-end-main .the-figure {
  position: absolute;
  right: 690px;
  top: 0;
}
@media screen and (max-width: 1026px) {
  /* line 481, ../scss/index.scss */
  .back-end-main {
    width: 90%;
    height: auto;
    line-height: 5rem;
    position: static;
    margin-bottom: 30px;
    background-image: none;
  }
  /* line 149, ../scss/index.scss */
  .back-end-main h2 {
    background-position: 0 -1421px;
    height: 179px;
    width: 342px;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    text-decoration: none;
    position: static;
    margin: 290px auto 60px;
  }
  /* line 156, ../scss/index.scss */
  .back-end-main .the-figure {
    top: 56px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}
/* line 484, ../scss/index.scss */
.back-end-main .the-figure {
  background-position: 0 -2036px;
  height: 589px;
  width: 311px;
}
@media screen and (max-width: 1026px) {
  /* line 489, ../scss/index.scss */
  .back-end-main .the-figure {
    background-position: -247px 0;
    height: 183px;
    width: 97px;
  }
}

/* line 495, ../scss/index.scss */
.back-end-intro {
  left: 394px;
  top: 180px;
}
@media screen and (max-width: 1026px) {
  /* line 495, ../scss/index.scss */
  .back-end-intro {
    width: 100%;
    position: static;
    font-size: 3rem;
  }
}

/* line 499, ../scss/index.scss */
.back-end-requirement {
  border-color: #3d1b48;
  color: #b981d1;
}
@media screen and (max-width: 1026px) {
  /* line 499, ../scss/index.scss */
  .back-end-requirement {
    width: auto;
    position: static;
    margin: 60px 0;
    font-size: 2.6rem;
  }
  /* line 228, ../scss/index.scss */
  .back-end-requirement h4 {
    font-size: 3rem;
    font-weight: bold;
  }
}
@media screen and (max-width: 670px) {
  /* line 235, ../scss/index.scss */
  .back-end-requirement ul {
    padding-left: 0;
  }
  /* line 239, ../scss/index.scss */
  .back-end-requirement ol {
    list-style-position: inside;
  }
  /* line 243, ../scss/index.scss */
  .back-end-requirement ul > li:first-child {
    position: static;
  }
}

/*------------------------------------*\
    $FRONT-END
\*------------------------------------*/
/* line 510, ../scss/index.scss */
.front-end {
  line-height: 2em;
  background-color: #3465aa;
}

/* line 516, ../scss/index.scss */
.front-end-main {
  height: 627px;
  background: right 10px url("../images/group-bg.png") no-repeat;
}
/* line 115, ../scss/index.scss */
.front-end-main h2 {
  background-position: -9999px -1246px;
  position: absolute;
  left: 390px;
  top: 114px;
  font-size: 40px;
  color: #fff;
}
/* line 124, ../scss/index.scss */
.front-end-main h2 .sub-title {
  background-position: 0 -578px;
  height: 108px;
  width: 206px;
  position: absolute;
  left: 100%;
  bottom: -12px;
  margin-left: 6px;
}
/* line 134, ../scss/index.scss */
.front-end-main .the-figure {
  position: absolute;
  right: 690px;
  top: 0;
}
@media screen and (max-width: 1026px) {
  /* line 516, ../scss/index.scss */
  .front-end-main {
    width: 90%;
    height: auto;
    line-height: 5rem;
    position: static;
    margin-bottom: 30px;
    background-image: none;
  }
  /* line 149, ../scss/index.scss */
  .front-end-main h2 {
    background-position: 0 -1246px;
    height: 175px;
    width: 332px;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    text-decoration: none;
    position: static;
    margin: 290px auto 60px;
  }
  /* line 156, ../scss/index.scss */
  .front-end-main .the-figure {
    top: 56px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}
/* line 519, ../scss/index.scss */
.front-end-main .the-figure {
  background-position: 0 -3833px;
  height: 626px;
  width: 254px;
}
@media screen and (max-width: 1026px) {
  /* line 524, ../scss/index.scss */
  .front-end-main .the-figure {
    background-position: 0 0;
    height: 177px;
    width: 71px;
  }
}

/* line 530, ../scss/index.scss */
.front-end-intro {
  left: 394px;
  top: 180px;
}
@media screen and (max-width: 1026px) {
  /* line 530, ../scss/index.scss */
  .front-end-intro {
    width: 100%;
    position: static;
    font-size: 3rem;
  }
}

/* line 534, ../scss/index.scss */
.front-end-requirement {
  border-color: #193265;
  color: #7ca0c5;
}
@media screen and (max-width: 1026px) {
  /* line 534, ../scss/index.scss */
  .front-end-requirement {
    width: auto;
    position: static;
    margin: 60px 0;
    font-size: 2.6rem;
  }
  /* line 228, ../scss/index.scss */
  .front-end-requirement h4 {
    font-size: 3rem;
    font-weight: bold;
  }
}
@media screen and (max-width: 670px) {
  /* line 235, ../scss/index.scss */
  .front-end-requirement ul {
    padding-left: 0;
  }
  /* line 239, ../scss/index.scss */
  .front-end-requirement ol {
    list-style-position: inside;
  }
  /* line 243, ../scss/index.scss */
  .front-end-requirement ul > li:first-child {
    position: static;
  }
}

/*------------------------------------*\
    $MOBILITY
\*------------------------------------*/
/* line 545, ../scss/index.scss */
.mobility {
  line-height: 2em;
  background-color: #09a275;
}

/* line 551, ../scss/index.scss */
.mobility-main {
  height: 627px;
  background: right 10px url("../images/group-bg.png") no-repeat;
}
/* line 115, ../scss/index.scss */
.mobility-main h2 {
  background-position: -9999px -1780px;
  position: absolute;
  left: 390px;
  top: 114px;
  font-size: 40px;
  color: #fff;
}
/* line 124, ../scss/index.scss */
.mobility-main h2 .sub-title {
  background-position: 0 -902px;
  height: 109px;
  width: 206px;
  position: absolute;
  left: 100%;
  bottom: -12px;
  margin-left: 6px;
}
/* line 134, ../scss/index.scss */
.mobility-main .the-figure {
  position: absolute;
  right: 690px;
  top: 0;
}
@media screen and (max-width: 1026px) {
  /* line 551, ../scss/index.scss */
  .mobility-main {
    width: 90%;
    height: auto;
    line-height: 5rem;
    position: static;
    margin-bottom: 30px;
    background-image: none;
  }
  /* line 149, ../scss/index.scss */
  .mobility-main h2 {
    background-position: 0 -1780px;
    height: 182px;
    width: 340px;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    text-decoration: none;
    position: static;
    margin: 290px auto 60px;
  }
  /* line 156, ../scss/index.scss */
  .mobility-main .the-figure {
    top: 56px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}
/* line 554, ../scss/index.scss */
.mobility-main .the-figure {
  background-position: 0 -3221px;
  height: 612px;
  width: 253px;
}
@media screen and (max-width: 1026px) {
  /* line 559, ../scss/index.scss */
  .mobility-main .the-figure {
    background-position: -71px 0;
    height: 178px;
    width: 73px;
  }
}

/* line 565, ../scss/index.scss */
.mobility-intro {
  left: 394px;
  top: 180px;
}
@media screen and (max-width: 1026px) {
  /* line 565, ../scss/index.scss */
  .mobility-intro {
    width: 100%;
    position: static;
    font-size: 3rem;
  }
}

/* line 569, ../scss/index.scss */
.mobility-requirement {
  border-color: #045e39;
  color: #6ccdb3;
}
@media screen and (max-width: 1026px) {
  /* line 569, ../scss/index.scss */
  .mobility-requirement {
    width: auto;
    position: static;
    margin: 60px 0;
    font-size: 2.6rem;
  }
  /* line 228, ../scss/index.scss */
  .mobility-requirement h4 {
    font-size: 3rem;
    font-weight: bold;
  }
}
@media screen and (max-width: 670px) {
  /* line 235, ../scss/index.scss */
  .mobility-requirement ul {
    padding-left: 0;
  }
  /* line 239, ../scss/index.scss */
  .mobility-requirement ol {
    list-style-position: inside;
  }
  /* line 243, ../scss/index.scss */
  .mobility-requirement ul > li:first-child {
    position: static;
  }
}

/*------------------------------------*\
    $CONTACT
\*------------------------------------*/
/* line 580, ../scss/index.scss */
.contact {
  line-height: 2em;
  background: left bottom #7cb854 url("../images/contact-bg.png") repeat-x;
}
@media screen and (max-width: 1026px) {
  /* line 580, ../scss/index.scss */
  .contact {
    background-image: none;
  }
}

/* line 590, ../scss/index.scss */
.contact-main {
  height: 434px;
  width: 961px;
  background: right top url("../images/contact.png") no-repeat;
  color: #f3bb01;
  bottom: auto;
  top: 78px;
}
@media screen and (max-width: 1026px) {
  /* line 590, ../scss/index.scss */
  .contact-main {
    width: 90%;
    height: auto;
    line-height: 5rem;
    position: static;
    background-image: none;
  }
}
/* line 598, ../scss/index.scss */
.contact-main h2 {
  line-height: 1em;
  font-family: 'impact';
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: 71px;
  top: 47px;
}
/* line 608, ../scss/index.scss */
.contact-main h2 .title-break {
  display: block;
}
@media screen and (max-width: 1026px) {
  /* line 590, ../scss/index.scss */
  .contact-main {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 24px;
    border-image: 24 url(../images/contact.png);
    background-clip: padding-box;
    background-color: #398327;
    margin: 60px auto 340px;
    padding: 40px 0;
  }
  /* line 622, ../scss/index.scss */
  .contact-main h2 {
    position: static;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 11rem;
  }
}

/* line 631, ../scss/index.scss */
.vtmer-intro {
  left: 360px;
  top: 48px;
  color: #f3bb01;
}
@media screen and (max-width: 1026px) {
  /* line 631, ../scss/index.scss */
  .vtmer-intro {
    width: 100%;
    position: static;
    font-size: 3rem;
  }
}

/* line 636, ../scss/index.scss */
.about-us {
  position: absolute;
  left: 72px;
  bottom: 42px;
  font-size: 13px;
}
@media screen and (max-width: 1026px) {
  /* line 636, ../scss/index.scss */
  .about-us {
    display: none;
  }
}

/* line 647, ../scss/index.scss */
.about-us a {
  color: #f3bb01;
}

/* line 651, ../scss/index.scss */
.form-download {
  background-position: -185px -183px;
  height: 74px;
  width: 168px;
  position: absolute;
  left: 360px;
  bottom: 42px;
}
/* line 658, ../scss/index.scss */
.form-download:hover {
  background-position: -168px -1962px;
}
/* line 662, ../scss/index.scss */
.form-download:active {
  background-position: 0 -1962px;
  height: 70px;
  width: 168px;
}
@media screen and (max-width: 1026px) {
  /* line 651, ../scss/index.scss */
  .form-download {
    background-position: 0 -1097px;
    height: 149px;
    width: 357px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 90px;
  }
  /* line 673, ../scss/index.scss */
  .form-download:hover {
    background-position: 0 -1097px;
    height: 149px;
    width: 357px;
  }
  /* line 677, ../scss/index.scss */
  .form-download:active {
    background-position: 0 -1097px;
    height: 149px;
    width: 357px;
  }
}

/* line 683, ../scss/index.scss */
.figure {
  display: none;
  width: 961px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 26px;
  margin: 0 auto;
}
/* line 692, ../scss/index.scss */
.figure li {
  position: absolute;
  bottom: 0;
}
@media screen and (min-height: 768px) {
  /* line 683, ../scss/index.scss */
  .figure {
    display: block;
  }
}

/* line 706, ../scss/index.scss */
.ui-design-figure {
  left: 0;
}
/* line 709, ../scss/index.scss */
.ui-design-figure a {
  background-position: -144px 0;
  height: 170px;
  width: 103px;
  left: 0;
}
/* line 713, ../scss/index.scss */
.ui-design-figure a:hover {
  background-position: 0 -378px;
  height: 189px;
  width: 157px;
}

/* line 719, ../scss/index.scss */
.back-end-figure {
  left: 284px;
}
/* line 722, ../scss/index.scss */
.back-end-figure a {
  background-position: -247px 0;
  height: 183px;
  width: 97px;
}
/* line 725, ../scss/index.scss */
.back-end-figure a:hover {
  background-position: -157px -378px;
  height: 200px;
  width: 148px;
}

/* line 731, ../scss/index.scss */
.front-end-figure {
  left: 604px;
}
/* line 734, ../scss/index.scss */
.front-end-figure a {
  background-position: 0 0;
  height: 177px;
  width: 71px;
  right: 80px;
}
/* line 738, ../scss/index.scss */
.front-end-figure a:hover {
  background-position: -206px -902px;
  height: 195px;
  width: 133px;
}

/* line 744, ../scss/index.scss */
.mobility-figure {
  left: 890px;
}
/* line 747, ../scss/index.scss */
.mobility-figure a {
  background-position: -71px 0;
  height: 178px;
  width: 73px;
}
/* line 750, ../scss/index.scss */
.mobility-figure a:hover {
  background-position: -50px -183px;
  height: 195px;
  width: 135px;
}
