@charset "utf-8";

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * NORMALIZE-CSS..........Import normalize css
 */





/*------------------------------------*\
    $SCSS-SET
\*------------------------------------*/
@import "predefine";
@import "compass/utilities/sprites";
$icons-layout:smart;
@import "icons/*.png";
$icons: sprite-map("icons/*.png");





/*------------------------------------*\
    $NORMALIZE-CSS
\*------------------------------------*/
@import "reset.css";




/*------------------------------------*\
    $COMMAN
\*------------------------------------*/
$page-space: 40px;
$group-main-width: 1026px;
$group-main-height: 627px;
$index-overall: 1000;

/**
* font-size
*
*/
$font-size-pc: 1rem;
$font-size-1026: 1.4rem;

/**
* font-face
*
*/
@include font-face(Impact);

html, body {
    width: 100%;
    height: 100%;
}

html {
    position: relative;
    font-size: 62.5%;
}

body {
    font-size: 1rem;
    overflow: hidden;

    .no-js & {
        overflow: hidden;
    }

    @media screen and (max-width: #{$group-main-width}) {
        & {
            overflow: auto;
        }
        .no-js & {
            overflow: auto;
        }
    }
}

a {
    text-decoration: underline;
}

.slide-block {
    width: 100%;
    height: 100%;
}

%block {
    width: 100%;
    height: 100%;
    line-height: 1.7;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: #{$group-main-width}) {
        height: auto;
    }
}

%block-main {
    width: $group-main-width;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
@mixin block-main($height) {
    @extend %block-main;
    height: $height;

    @media screen and (max-width: #{$group-main-width}) {
        width: 90%;
        height: auto;
        position: static;
        background-image: none;
    }
}
@mixin group-main($sprite, $url: '../images/group-bg.png') {
    @extend %block-main;
    height: $group-main-height;
    background: right 10px  url($url) no-repeat;

    h2 {
        // 修复compass bug —— @media中使用sprite异常
        @include icons-sprite($sprite + '-big', false, -9999px);
        position: absolute;
        left: 390px;
        top: 88px;
        font-size: 40px;
        color: #fff;

        .sub-title {
            @include text-hide;
            @include icons-sprite($sprite, true);
            position: absolute;
            left: 100%;
            bottom: 10px;
            margin-left: 6px;
        }
    }

    .the-figure {
        @include text-hide;
        position: absolute;
        right: 690px;
        top: 0;
    }

    @media screen and (max-width: #{$group-main-width}) {
        width: 90%;
        height: auto;
        position: static;
        margin-bottom: 30px;
        background-image: none;

        h2 {
            @include icons-sprite($sprite, true);
            @include text-hide(true);
            position: static;
            margin: 290px auto 60px;
        }

        .the-figure {
            top: 56px;
            right: 0;
            left: 0;
            margin: 0 auto;
        }
    }
}


%intro {
    width: 556px;
    position: absolute;
    font-size: 14px;
    color: #e6e6e6;
}
@mixin intro($left, $top) {
    @extend %intro;
    left: $left;
    top: $top;

    @media screen and (max-width: #{$group-main-width}) {
        width: 100%;
        position: static;
        font-size: 1.8rem;
    }
}

.intro-summary {
    margin-top: 1.8em;

    @media screen and (max-width: #{$group-main-width}) {
        position: static;
    }
}

/**
* 1. 宽度减去padding和border的双边距离之和
* 2. 向左推进padding和border的单边距离之和
*/
%group-requirement {
    width: 556px - (13px + 3px) * 2; /* 1 */
    position: absolute;
    left: 394px - (13px + 3px); /* 2 */
    bottom: 90px;
    border-style: dashed;
    border-width: 3px;
    padding: 8px 13px;
    font-size: 13px;

    ul {
        padding-left: 5em;
        position: relative;
    }

    ul>li:first-child {
        position: absolute;
        left: 0;
        top: 0;
    }
}
@mixin group-requirement($color, $border-color) {
    @extend %group-requirement;
    border-color: $border-color;
    color: $color;

    @media screen and (max-width: #{$group-main-width}) {
        width: auto;
        position: static;
        margin: 60px 0;
        font-size: 1.6rem;

        h4 {
            font-size: 1.8rem;
            font-weight: bold;
        }
    }

    @media screen and (max-width: 670px) {
        ul {
            padding-left: 0;
        }

        ol {
            list-style-position: inside;
        }

        ul>li:first-child {
            position: static;
        }
    }
}





/*------------------------------------*\
    $NAV
\*------------------------------------*/

/**
* 1. 高度为 六个按钮的高度之和 加上 margin的五个叠加间隔
*/
.nav {
    height: 24px * 6 + 10px * 5; /* 1 */
    position: fixed;
    top: 0;
    bottom: 0;
    right: 40px;
    z-index: $index-overall;
    margin: auto 0;

    .no-js & {
        display: none;
    }

    li {
        margin-top: 10px;
    }

    li:first-child {
        margin-top: 0;
    }

    a {
        @include text-hide;
        width: 25px;
        height: 24px;
    }

    @media screen and (max-width: #{$group-main-width}) {
        display: none;
    }
}

.to-header a {
    @include icons-sprite('to-header');

    &:hover, &.active{
        @include icons-sprite('to-header-hover');
    }
}

.to-ui-design a {
    @include icons-sprite('to-ui-design');

    &:hover, &.active{
        @include icons-sprite('to-ui-design-hover');
    }
}

.to-back-end a {
    @include icons-sprite('to-back-end');

    &:hover, &.active{
        @include icons-sprite('to-back-end-hover');
    }
}

.to-front-end a {
    @include icons-sprite('to-front-end');

    &:hover, &.active{
        @include icons-sprite('to-front-end-hover');
    }
}

.to-mobility a {
    @include icons-sprite('to-mobility');

    &:hover, &.active{
        @include icons-sprite('to-mobility-hover');
    }
}

.to-contact a {
    @include icons-sprite('to-contact');

    &:hover, &.active{
        @include icons-sprite('to-contact-hover');
    }
}





/*------------------------------------*\
    $HEADER
\*------------------------------------*/
.header {
    @extend %block;
    background-color: #f2b701;

    @media screen and (max-width: #{$group-main-width}) {
        height: 100%;
        min-height: 600px;
    }

    @media screen and (max-width: 670px) {
        height: auto;
        min-height: 0;
    }
}

.logo {
    @include text-hide;
    @include icons-sprite('logo', true);
    position: absolute;
    left: $page-space;
    top: $page-space;

    @media screen and (max-width: #{$group-main-width}) {
        display: none;
    }
}

.follow-us {
    @include text-hide;
    @include icons-sprite('follow-us', true);
    position: absolute;
    left: $page-space;
    bottom: $page-space;

    @media screen and (max-width: #{$group-main-width}) {
        display: none;
    }
}

.header-main {
    @include block-main($height: 250px);
    text-align: center;
    color: #222;

    @media screen and (max-width: #{$group-main-width}) {
        height: 270px;
        position: absolute;
    }

    @media screen and (max-width: 670px) {
        position: static;
        height: auto;
        margin: 20px auto 30px;
    }

}

.header-main h1 {
    line-height: 1.5;
    font-family: Impact, sans-serif;
    font-size: 100px;
    text-transform: uppercase;

    @media screen and (max-width: #{$group-main-width}) {
        font-size: 10rem;
    }

    @media screen and (max-width: 670px) {
        line-height: 1.2;
    }
}

.header-main h2 {
    font-family: 'Microsoft YaHei';
    font-size: 38px;
    font-weight: bold;

    @media screen and (max-width: #{$group-main-width}) {
        font-size: 4.8rem;
    }

    @media screen and (max-width: 670px) {
        line-height: 1.2;
    }
}





/*------------------------------------*\
    $UI-DESIGN
\*------------------------------------*/
.ui-design {
    @extend %block;
    background-color: #e57d04;
}

.ui-design-main {
    @include group-main($sprite: 'ui-design-title', $url: '../images/ui-design.png');

    .the-figure {
        @include icons-sprite('ui-design-figure-big', true);
    }

    @media screen and (max-width: #{$group-main-width}) {
        .the-figure {
            @include icons-sprite('ui-design-figure', true);
        }
    }
}

.ui-design-intro {
    @include intro($left: 394px, $top: 180px);
}

.ui-design-requirement {
    @include group-requirement($color: #fec99b, $border-color: #d24c0a);
}





/*------------------------------------*\
    $BACK-END
\*------------------------------------*/
.back-end {
    @extend %block;
    background-color: #7c378a;
}

.back-end-main {
    @include group-main($sprite: 'back-end-title');

    .the-figure {
        @include icons-sprite('back-end-figure-big', true);
    }

    @media screen and (max-width: #{$group-main-width}) {
        .the-figure {
            @include icons-sprite('back-end-figure', true);
        }
    }
}

.back-end-intro {
    @include intro($left: 394px, $top: 180px);
}

.back-end-requirement {
    @include group-requirement($color: #b981d1, $border-color: #3d1b48);
}





/*------------------------------------*\
    $FRONT-END
\*------------------------------------*/
.front-end {
    @extend %block;
    background-color: #3465aa;
}

.front-end-main {
    @include group-main($sprite: 'front-end-title');

    .the-figure {
        @include icons-sprite('front-end-figure-big', true);
    }

    @media screen and (max-width: #{$group-main-width}) {
        .the-figure {
            @include icons-sprite('front-end-figure', true);
        }
    }
}

.front-end-intro {
    @include intro($left: 394px, $top: 180px);
}

.front-end-requirement {
    @include group-requirement($color: #7ca0c5, $border-color: #193265);
}





/*------------------------------------*\
    $MOBILITY
\*------------------------------------*/
.mobility {
    @extend %block;
    background-color: #09a275;
}

.mobility-main {
    @include group-main($sprite: 'mobility-title');

    .the-figure {
        @include icons-sprite('mobility-figure-big', true);
    }

    @media screen and (max-width: #{$group-main-width}) {
        .the-figure {
            @include icons-sprite('mobility-figure', true);
        }
    }
}

.mobility-intro {
    @include intro($left: 394px, $top: 180px);
}

.mobility-requirement {
    @include group-requirement($color: #6ccdb3, $border-color: #045e39);
}





/*------------------------------------*\
    $CONTACT
\*------------------------------------*/
.contact {
    @extend %block;
    background: left bottom #7cb854 url('../images/contact-bg.png') repeat-x;

    @media screen and (max-width: #{$group-main-width}) {
        background-image: none;
    }
}

.contact-main {
    @include block-main($height: 434px);
    width: 961px;
    background: right top url('../images/contact.png') no-repeat;
    color: #f3bb01;
    bottom: auto;
    top: 78px;

    h2 {
        line-height: 1em;
        font-family: Impact, sans-serif;
        font-size: 60px;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        left: 71px;
        top: 47px;

        .title-break {
            display: block;
        }
    }

    @media screen and (max-width: #{$group-main-width}) {
        @include box-sizing(border-box);
        border-width: 24px;
        border-image: 24 url(../images/contact.png);
        background-clip: padding-box;
        background-color: #398327;
        margin: 60px auto 200px;
        padding: 40px 0;

        h2 {
            position: static;
            margin: 0 auto;
            margin-bottom: 40px;
            font-size: 6rem;
        }
    }
}

.vtmer-intro {
    @include intro($left: 360px, $top: 48px);
    color: #f3bb01;
}

.about-us {
    position: absolute;
    left: 72px;
    bottom: 42px;
    font-size: 13px;

    @media screen and (max-width: #{$group-main-width}) {
        display: none;
    }
}

.about-us a {
    color: #f3bb01;
}

.form-download {
    @include text-hide;
    @include icons-sprite('form-download', true);
    position: absolute;
    left: 360px;
    bottom: 42px;

    &:hover {
        @include icons-sprite('form-download-hover');
    }

    &:active {
        @include icons-sprite('form-download-active', true);
    }

    @media screen and (max-width: #{$group-main-width}) {
//        @include icons-sprite('form-download-big', true);
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 60px;

//        &:hover {
//            @include icons-sprite('form-download-big', hover);
//        }
//
//        &:active {
//            @include icons-sprite('form-download-big', true);
//        }
    }
}

.figure {
    display: none;
    width: 961px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 26px;
    margin: 0 auto;

    li {
        position: absolute;
        bottom: 0;
    }

    a {
        @include text-hide;
    }

    @media screen and (min-height: 768px) {
        display: block;
    }

    @media screen and (max-width: #{$group-main-width}) {
        display: none;
    }
}

.ui-design-figure {
    left: 0;

    a{
        @include icons-sprite('ui-design-figure', true);
        left: 0;

        &:hover {
            @include icons-sprite('ui-design-figure-hover', true);
        }
    }
}

.back-end-figure {
    left: 284px;

    a{
        @include icons-sprite('back-end-figure', true);

        &:hover {
            @include icons-sprite('back-end-figure-hover', true);
        }
    }
}

.front-end-figure {
    left: 604px;

    a{
        @include icons-sprite('front-end-figure', true);
        right: 80px;

        &:hover {
            @include icons-sprite('front-end-figure-hover', true);
        }
    }
}

.mobility-figure {
    left: 890px;

    a{
        @include icons-sprite('mobility-figure', true);

        &:hover {
            @include icons-sprite('mobility-figure-hover', true);
        }
    }
}
